/**/.~*
/src/schematics/~*.sch
/src/schematics/~*.pcb
/src/schematics/HotPi (*.txt
/src/software/**/bin
/src/software/**/obj
/src/software/**/.vs
/src/software/**/*.user
/src/software/packages
/src/software/Utilities/cwrsync/home
!/src/software/Utilities/cwrsync/bin
.vs
.*.swp
*.o
